

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #fff;
  --accent-color: #8e7fff;
}

.app {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
  color: #1a1a1a;
  transition: all 0.3s ease;
}
.app.dark {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 100px;
  min-height: 100vh;
  padding: 4rem 2rem;
}
#home {
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertically center */
  align-items: center;     /* horizontally center */
  text-align: center;
  padding: 2rem;
  scroll-margin-top: 100px; /* for navbar anchor offset */
}
